<html>
<title>Hack Covid`19 | Lung X-Ray Prediction</title>
<!-- stylesheets -->
<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

<style>
.content {
  max-width: 900px;
  margin: auto;
}
</style>

<body>
  <div class="container">
   
    <div class="content">
      <h1>Lung Infection Detection for Covid`19</h1>
  	<h2>Upload your Lung X-Ray Image</h2>
      <br>
      <form action="" method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>

      <h2>Results</h2>
      <br>
      <table class="table" id="results-table">
          <tr>
            <th>Image</th>
            <th>Prediction</th>
          </tr>
  		<tr>
            {% block content %}{% endblock %}
          </tr>
      </table>
    </div>
   
  </div>
</body>

</html>
 
